$grid-columns: 12;
$gutter: 1rem;
$container-padding: 1rem;
$max-width: 100%;

$white: #FFFFFF;
$black: #000000;
$lime: #DBEF76;
$blue: #4400FF;
$light-blue: #8794E9;
$dark-blue: #4507EF;
$red: #FD494A;
$red-light: #FF6F6F;
$background-color: $red;
