@use "fonts" as *;
@use "reset" as *;
@use "variables" as *;
@use "utils" as *;

* {
    scroll-behavior: smooth;
    font-family: 'Instrument Sans', sans-serif;
}


body {
    background-color: $background-color;
}
