@use "fonts" as *;
@use "easings" as *;
@use "reset" as *;
@use "variables" as *;
@use "utils" as *;

* {
    scroll-behavior: smooth;
    font-family: 'Instrument Sans', sans-serif;

    ::selection {
        background-color: $lime;
        color: $blue;
    }
}


body {
    background-color: $background-color;
    padding-bottom: toRem(68);
}
